
#navbar ul li a{
  font-family: "NanumGothic", sans-serif;
}

.desc-default-option-2{
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: -2;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: -5px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}
/**/

.body{
  font-family: "NanumGothoc";
}

.nanum-16-bol-3a{
  font-family: "NanumGothic";
  font-size: 16px;
  font-weight: bold;
  color: #3a3939;
}

.nanum-16-bol{
  font-family: "NanumGothic";
  font-size: 16px;
  font-weight: bold;
}

.margin-bottom-5{
  margin-bottom: 5px;
}

.margin-bottom-100{
  margin-bottom: 100px;
}

.margin-bottom-200{
  margin-bottom: 200px;
}

.margin-bottom-500{
  margin-bottom: 500px;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-0{
  margin-top: 0px !important;
}

/* 검색 페이지 */
.list-offer-title{
  font-family: "NanumGothic";
  font-weight: bold;
  font-size: 16px !important;
  color: #5d5d5d;
  margin-bottom: 10px !important;
}

.search-price-div{
  margin-bottom: 10px !important;
}

.search-price{
  font-family: "NanumGothic";
  font-size: 14px;
  color: #5d5d5d;
}

.mini-price{
  font-family: "NanumGothic";
  font-size: 1.2em;
  font-weight: bold;
  color: #5d5d5d;
}

.max-price{
  font-family: "NanumGothic";
  font-size: 1.5em;
  font-weight: bold;
  color: #5d5d5d;
}

.custom-btn-danger{
  width: 100% !important;
  border-radius: 0px;
  /*background-color: #ff3838;
  border: 1px solid #ff3838;*/
  color: #5d5d5d !important;
}
/* .검색 페이지 */

/* 검색 상세페이지 */
.view-detail-container{
  margin-top: 12px;
  margin: 12px 0px 12px 0px;
  padding: 0px 0px 0px 0px;
  width: 100% !important;
}

.view-detail-tab{
  width: 20%;
  text-align: center;
}

.custom-apartment-tabContent{
  border: 0px !important;
}

.view-detail-swiper-container{
  height: 600px !important;
}

.view-detail-slider{
  height: 600px !important;
}

.view-detail-wrapper{
  height: 600px !important;
}

.house-basic-title-box{
  width: 100px;
  padding: 5px 5px 5px 5px;
  /*border-right: 2px solid #e5e5e5;*/
  margin-right: 50px;
  margin-bottom: 20px;
}

.house-basic-title{
  font-size: 18px !important;
  font-weight: bold !important;
}

.house-basic-info-box{
  float: left;
  width: 600px;
}

.house-basic-info{
  float: left;
  text-align: left;
  width: 180px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.house-basic-info span{
  font-family: "NanumGothic";
  font-size: 16px;
  color: #000;
}

.terms-conditions-title-box{
  width: 100px;
  padding: 5px 5px 5px 5px;
  /*border-right: 2px solid #e5e5e5;*/
  margin-right: 50px;
  margin-bottom: 20px;
}

.terms-conditions-title{
  font-size: 18px !important;
  font-weight: bold !important;
}

.terms-conditions-info-box{
  width: 600px;
}

.terms-conditions-info{
  float: left;
  text-align: left;
  width: 600px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.terms-conditions-info p{
  font-size: 16px;
  color: #000;
}

.position-title{
  font-size: 18px;
  height: 40px;
}

.sm-size{
  float: left;
  width: 70px;
}

.lg-size{
  float: left;
  width: 200px;
}

.use-image-small{
  width: 60%;
  left: 25%;
}

/* .검색 상세페이지 */

/* 검색 상세페이지 탭 */
.view-detail-card {background: #FFF none repeat scroll 0% 0%; /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/ margin-bottom: 30px; }

.view-detail-tabs { border-bottom: 2px solid #DDD;}
.view-detail-tabs > li{
  margin-right: 40px;
}
.view-detail-tabs > li > a{
  font-size: 1.5em;
  font-weight: bold;
}
.view-detail-tabs > li.active > a, .view-detail-tabs > li.active > a:focus, .view-detail-tabs > li.active > a:hover { border-width: 0; }
.view-detail-tabs > li > a { border: none; color: #666; }
.view-detail-tabs > li.active > a, .view-detail-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.view-detail-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.view-detail-tabs > li.active > a::after, .view-detail-tabs > li:hover > a::after { transform: scale(1); }
.view-detail-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }

.view-detail-tab-pane { padding: 15px 0; }
.view-detail-tab-content{
  box-shadow: none !important;
  background: #fff !important;
  padding:20px;
}
/* .검색 상세페이지 탭 */

/* 입주자 - 입주대기 */
.list-offer-custom-right-large{
  width: 600px !important;
}
/* .입주자 - 입주대기 */

/* 입주자 - 입주신청 */
.complete-type-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #2b2a2a;
  opacity: 0.5;
}

.complete-transaction-type{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #2b2a2a;
  opacity: 0.6;

  font-family: "NanumGothic";
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 50% 10%;
}
/* .입주자 - 입주신청 */

/* 알림설정 */
.alarm-info-container{
  padding: 20px 20px !important;
  border: 2px solid #e5e5e5;
}

.alarm-info-container img{
  float: left;
  margin-left: 40px;
  margin-right: 80px;
}

.alarm-info-container p{
  padding: 10px;

  font-size: 1.6em;
  font-weight: bold;
  color: #5d5d5d;
}

.condition-title{
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #5d5d5d;
}

.condition-count{
  padding: 10px 10px;
  font-size: 16px;
  color: #5d5d5d;
}

.condition-onoff{
  padding: 10px 10px;
  font-size: 16px;
  color: #5d5d5d;
}

.condition-onoff-check{
  top: -2;
}

.btn-alart-update{
  width: 100%;
  border-radius: 0px;
  border: 2px solid #ccc;
  font-weight: bold;
}

.btn-alart-delete{
  width: 100%;
  border-radius: 0px;
  border: 2px solid #ccc;
  font-weight: bold;
}

.alarm-detail-row{
  margin: 0px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.form-position-input-row-noborder{
  width: 100%;
  height: 40px;
  padding: 10px 10px;
}

.form-position-input-row-border{
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.form-position-input-title{
  float: left;
  width: 20%;
  text-align: center;
}

.info{
  float: left;
  width: 20%;
  text-align: right;
}

.state{
  float: left;
  width: 20%;
  text-align: center;
}

.rush{
  float: right;
  width: 20%;
  text-align: center;
}

.time_input{
  float: right;
  width: 20%;
}

.timeout_input{
  float: right;
  width: 20%;
}

.state_input, .rent_input{
  float: left;
  width: 20%;
}

.date_control{
  float: left;
  width: 20%;
}

#alarm-time, #alarm-km, #alarm-input{
  padding: 2px 12px;
  margin-top: 0px;
  width: 100% !important;
  height: 23px !important;
  font-size: 12px;
}

#alarm-state, #alarm-rent-min, #alarm-rent-max, #alarm-timeout, #alarm-regyear, #alarm-cityrail-distance, #alarm-input{
  margin-top: 0px;
  width: 100% !important;
  height: 23px !important;
  font-size: 12px;
}


.cityrail{
  float: right;
  width: 20%;
  text-align: center;
}

.cityrail_input{
  float: right;
  width: 20%;
}

#alarm-cityrail-name, #alarm-cityrail-distance{
  padding: 2px 12px;
  margin-top: 0px;
  width: 80% !important;
  height: 23px !important;
  font-size: 12px;
}

.gender-input{
  float: left;
  height: 23px;
}

.date-input{
  float: left;
  width: 30%;
  height: 23px;
}

.date-input > .lg-radio{
  margin: 0px 0px;
}

.date-input > .lg-radio label{
  width: 22%;
}

.date-input > .sm-radio{
  margin: 0px 0px;
}

.date-input > .sm-radio label{
  width: 15%;
}

.gender-input > .lg-radio{
  margin: 0px 0px;
}

.gender-input > .lg-radio label{
  width: 22%;
}

.gender-input > .sm-radio{
  margin: 0px 0px;
}

.gender-input > .sm-radio label{
  width: 15%;
}

.alarm-confirm-container{
  padding: 20px 20px !important;
  border: 1px solid #e5e5e5;
}

.alarm-confirm-container img{
  float: left;
}

.alarm-confirm-container p{
  padding: 5px;
  margin-bottom: 0px;
  font-size: 0.9em;
  font-weight: bold;
  color: #5d5d5d;
}
/* .알림설정 */

/* 운영자 페이지 */
.row{
  margin-left: 0px;
  margin-right: 0px;
}

#integration-list {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    /*margin: 0 auto;*/
    display: table;
}
#integration-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}
#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}
#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}
#integration-list ul > li:hover {
    background: #efefef;
}
.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
h2 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}
span {
    font-size: 12.5px;
}
#left,#right{
    display: table;
}
#sup{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 14px;
}

.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 150px;
}
.detail span{
    margin: 0;
}
.right-arrow {
    margin-top: 12px;
    margin-left: 20px;
    width: 10px;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 20px;
}
.icon {
    height: 75px;
    width: 75px;
    float: left;
    margin: 0 15px 0 0;
}
/* .운영자 페이지*/

/* 하우스 등록 */
.register-cr-checkbox{
  position: none;
}

.register-cr-checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.register-cr-checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.register-cr-checkbox label input[type="checkbox"],
.register-cr-checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.register-cr-checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.register-cr-checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}

.register_house_info{
  margin-top: 10px;
}

.register_house_in a {
    text-decoration: none !important;
    color: #C0392B !important;
    border: 1px solid #C0392B !important;
    padding: 6px 10px 5px !important;
    font-size: 14px !important;
}

.register_house_btn span{
  font-size: 1.0em;
  font-weight: bold;
  color: #5d5d5d;
}
/* 하우스 등록 */
