@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body{
    font-family: 'Noto Sans KR', sans-serif !important;
}


.title-default{
    font-size: 3.0vh !important;
}

.desc-default{
    font-size: 2.5vh !important;
    line-height: 4vh !important;
}

.desc-grid{
  padding: 25px 15px 25px 15px !important;
}
.desc-grid span{
  display:inline-block !important;
  vertical-align: middle !important;
}

.pull-center{
  float:inherit !important;
}
